:root {
  --primary: #FFF;
  --secondary: #000;
  --grey-300: #D1D5DB;
  --accent: #E38035;
  --bg-color: #363841;
  --card-color: #4B4F5B;

  --p-20: 1.25rem;

  --m-32: 2rem;
  --m-64: 4rem;
  --m-160: 10rem;

  --brightness: 1.15;
  --radius: .15rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  list-style: none;
}

.game-font {
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
}