@import url('global.css');

body {
  background-color: var(--bg-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__img {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem var(--px-20);
}

.header__link {
  color: var(--grey-300);
}

.header__link:hover {
  color: var(--primary);
}

footer {
  display: flex;
  justify-content: space-between;
}

footer img {
  width: 220px;
  cursor: pointer;
}

.footer__about {
  display: flex;
  flex-direction: column;
  text-align: end;
}

footer span {
  color: var(--grey-300);
  font-size: .875rem;
  font-weight: 300;
}

@media screen and (max-width: 640px) {
  .header__img {
    width: 200px;
  }
}

@media screen and (max-width: 320px) {
  header {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  .header__img {
    width: 260px;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  .footer__about {
    text-align: center;
    margin-top: 1rem;
    gap: .5rem;
  }
}